@page "/admin/menber"
@model Courses_MVC.Areas.Admin.Pages.User.IndexModel
@{
    ViewData["Title"] = "Danh sách các thành viên";
}
<h2 class="text-center" style="padding-top:50px">LIST OF MEMBERS</h2>
<partial name="_StatusMessage" model="@Model.StatusMessage" />
<div class="row justify-content-around">
    <a class="btn btn-outline-success" asp-page="../Role/Create">Add role</a>
    <a class="btn btn-outline-success" asp-page="../Role/Index">Manage roles</a>
</div>
<div class="table-overflow" style="width: 1100px; margin: 0 auto; padding-top:20px; margin-bottom:30px">
    <table class="table table-hover">
        <tr>
            <th>Name of User</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        @foreach (var user in Model.users)
        {
            <tr>
                <td>@user.UserName</td>
                <td>
                    @if (string.IsNullOrEmpty(user.RoleNames))
                    {
                        <a class="text-dark" asp-page="./AddRole" asp-route-id="@user.Id">+ Add</a>
                    }
                    else
                    {
                        <a asp-page="./AddRole" asp-route-id="@user.Id">@user.RoleNames</a>
                    }


                </td>
                <td>
                    <a class="btn btn-danger btn-sm" asp-page="./DeleteUser" asp-route-userId="@user.Id">Delete</a>
                    <a class="btn btn-primary btn-sm" asp-page="./SetPassword" asp-route-id="@user.Id">Change Password</a>

                </td>
            </tr>
        }
    </table>
</div>

@*@{ 
    var pagingmodel = new XTL.Helpers.PagingModel()
    {
        currentpage = Model.currentPage,
        countpages = Model.countPage,
        generateUrl = (int? p) => Url.Page("./Index", new { p = p })
    };
}
<partial name="_PagingXTL" model="@pagingmodel"/>*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
